.App {
  color: darkslategrey;
  font-size: 24px;
}

.Place-Details {
  background-color: teal;
  display: flex;
  flex-direction: row;
}

.Place-Details .Left-side-box {
  height: 100%;
  width: 40%;
}

.Place-Details .Item-box {
  margin-top: 20px;
  height: 100%;
  width: 60%;
}

.PlaceCard.card {
  background-color: teal;
  border: none;
}

.ListGroup.list-group {
  color: darkslategray;
}

.Place-component.jumbotron {
  background-color: darkslategray;
  color: papayawhip;
}

.Review-component.jumbotron {
  background-color: darkslategray;
  color: papayawhip;
  max-width: 500px;
  max-height: 500px;
}

.Button-place {
  background-color: darkslategray;
  border: none;
}

div.p-5.carousel-caption {
  font-size: 20px;
  width: 80%;
  color: white;
}

.p {
  font-size: 12px;
}

.carousel.slide {
  max-width: 1050px;
  max-height: 900px;
}

.carousel-inner {
  max-width: 1050px;
  max-height: 900px;
}

.Carousel-item.active.carousel-item {
  max-width: 1050px;
  max-height: 900px;
}

img.Carousel-item-img {
  width: 1080px;
  height: 900px;
}

.Page-layout {
  background-color: teal;
  display: flex;
  flex-direction: row;
}

.Item-box {
  margin-top: 20px;
  height: 100%;
  width: 60%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
}

.Left-side-box {
  height: 100%;
  width: 17.5%;
}

.Right-side-box {
  height: 100%;
  width: 22.5%;
}

.item {
  max-width: 33.5rem;
}

img {
  max-width: 450px;
  max-height: 450px;
}

.searchbar {
  background-color: navajowhite;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 5rem;
}

.searchbar input {
  border: 2px solid #eee;
  background: #eee;
  width: 25%;
  padding: 0.5rem;
  border-radius: 0.25rem;

  font-size: 20px;
  font-weight: bold;
  color: #777;

  transition: width 0.2s ease;
}

.searchbar input::placeholder {
  color: #ccc;
}

.searchbar input:focus {
  outline: none;
  width: 50%;
  box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.15);

  background: #fff;
  border-color: #bc32a2;
  color: #bc32a2;
}

.dropdown_positioner {
  position: relative;
}

.dropdown {
  position: absolute;
  left: 2px;
  top: 0.5rem;
  width: 25rem;

  background: white;
  box-shadow: 1px 1px 0.5rem rgba(0, 0, 0, 0.15);
  color: #777;

  transition: all 0.3s ease;
  transform: perspective(400px) rotateX(-90deg);
  transform-origin: top;
  opacity: 0;
}

.searchbar.is-open .dropdown {
  transform: perspective(400px) rotateX(0);
  opacity: 1;
}

.dropdown ul {
  display: block;
  margin: 0;
  padding: 0;
}

.dropdown li {
  display: block;
  margin: 0;
  padding: 0.5rem;
}

.dropdown li:hover {
  background: #eee;
  color: #333;
  cursor: pointer;
}

.dropdown strong {
  color: #bc32a2;
  text-decoration: underline;
}

.div.Item-box {
  width: 850px;
  height: 650px;
}

.modal-cover {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  transform: translateZ(0);
  background-color: rgba(0, 0, 0, 0.8);
}

.modal-area {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em 1.5em 1.5em 1.5em;
  background-color: #ffffff;
  box-shadow: 0 0 10px 3px rgba(0, 0, 0, 0.1);
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

@media screen and (min-width: 500px) {
  /* Center the Modal! */
  .modal-area {
    left: 50%;
    top: 50%;
    height: auto;
    transform: translate(-50%, -50%);
    max-width: 30em;
    max-height: calc(100% - 1em);
  }
}

._modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 0.5em;
  line-height: 1;
  background: #f6f6f7;
  border: 0;
  box-shadow: 0;
  cursor: pointer;
}

._modal-close-icon {
  width: 25px;
  height: 25px;
  fill: transparent;
  stroke: black;
  stroke-linecap: round;
  stroke-width: 2;
}

.modal-body {
  padding-top: 0.25em;
}
._hide-visual {
  border: 0 !important;
  clip: rect(0 0 0 0) !important;
  height: 1px !important;
  margin: -1px !important;
  overflow: hidden !important;
  padding: 0 !important;
  position: absolute !important;
  width: 1px !important;
  white-space: nowrap !important;
}

.scroll-lock {
  overflow: hidden;
  margin-right: 17px;
}
