.App {
  color: darkslategrey;
}

.UserCard {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  flex-wrap: wrap;
}

/* // src/components/Navigation*/
.Navbar {
  color: darkslategray;
  font-size: 30px;
  border: 15px;
}

.Nav-link {
  color: darkslategray;
  font-size: 25px;
}

.Places {
  height: 100%;
  width: 50%;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.Place {
  max-width: 47.5%;
  border-style: groove;
  border-color: black;
  padding: 5px;
  margin: 5px;
}

.Place-details {
  max-width: 100%;
  border-style: groove;
  border-color: black;
  padding: 5px;
  margin-bottom: 5px;
}

.Place-component {
  max-width: 100%;
}

.Review-component {
  max-width: 100%;
}

img {
  max-width: 100%;
}
